# DB connection settings.
# For Developement DB : Comment out #9 and uncooment #6 
# For Test DB         : Comment out #6 and uncomment #9

# DEVELOPMENT DB
DATABASE_URL=

# TEST DB
# DATABASE_URL=

# Push notifications keys. You can generate them with command "./node_modules/.bin/web-push generate-vapid-keys"
PUBLIC_VAPID_KEY=
PRIVATE_VAPID_KEY=

# This must be either a URL or a 'mailto:' address.
# For example: 'https://my-site.com/contact' or 'mailto: contact@my-site.com(opens in new tab)'
WEB_PUSH_CONTACT=